<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ia801507.us.archive.org/34/items/Undecimus1/Undecimus-1.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>vip.appvalley.snapplus</string>
                <key>bundle-version</key>
                <string>10.25.2.0</string>
                <key>kind</key>
                <string>software</string> 
                <key>title</key>
                <string>

🔥 (جليبريك Unc0ver)🔥
💐🌷🌹☘️
🔥أخر تحديث🔥
❤️
🔥V2.0🔥
❤ 
✅(رفع: Abbass berri)✅
</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>